<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <h1> indexx</h1>


  <button>
    <a href="/bankofcali/new">Add A Transaction
    </a>
  </button>
  <button>
    <a href="/bankofcali/:id/edit"> Edit Info </button>
    </a>
  <ul>
      <% for(let i = 0; i < entry.length; i++) { %>
    <li>

        <br>
        <a href="/bankofcali/<%=entry[i].id%>">
        <%=entry[i].invoice%><br>
      </a>
        Date | <%=entry[i].date%><br>
        Description | <%=entry[i].description%><br>
        Withdrawal | $<%=entry[i].withdrawl%><br>
        Deposit | $<%=entry[i].deposit%><br>
          </a>
        </li>
<% } %>
</ul>


  </body>
</html>
