<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%=entry.date%><br>
  <%=entry.description%><br>
  <%=entry.invoice%><br>
  <%=entry.withdrawl%><br>
  <%=entry.deposit%><br>
  </body>
</html>
